.title {
  font-size: 40px;
}
.container {
  font-family: verdana;
  background-color: #2292fa;
  text-align: center;
  color: white;
  padding: 30px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%
}

.description {
  text-align: center;
  width: 500px;
  margin: auto;
}

.icons a{
  color: white;
  margin: 0 20px;
}
